{% extends 'layout.jinja2' %}

{% block css %}
<style>{{ style }}</style>
{% endblock %}

{% block content %}
    <article class="markdown-body">
        <div class="container">
            {{ from_eventum | safe }}
            {{ html|safe }}
        </div>
    </article>

{% endblock %}
