<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <meta name="theme-color" content="#5eb9d7"/>

    <!-- OG & Twitter metadata -->
    <meta property="og:site_name" content="{{ title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="https://eventum.ai/"/>
    <meta property="og:image" content="{{ url_for('static', filename='img/flask-jinja@2x.jpg') }}"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:url" content="https://eventum.ai"/>
    <meta name="twitter:site" content="@egafni"/>
    <meta name="twitter:creator" content="@egafni"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="{{ url_for('static', filename='img/flask-jinja@2x.jpg') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github-markdown-light.css') }}">
    <style>
        #fs-frm input,
        #fs-frm select,
        #fs-frm textarea,
        #fs-frm fieldset,
        #fs-frm optgroup,
        #fs-frm label,
        #fs-frm #card-element:disabled {
            font-family: inherit;
            font-size: 100%;
            color: inherit;
            border: none;
            border-radius: 0;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        #fs-frm label,
        #fs-frm legend,
        #fs-frm ::placeholder {
            font-size: .825rem;
            margin-bottom: .5rem;
            padding-top: .2rem;
            display: flex;
            align-items: baseline;
        }

        /* border, padding, margin, width */
        #fs-frm input,
        #fs-frm select,
        #fs-frm textarea,
        #fs-frm #card-element {
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: rgba(255, 255, 255, 0.9);
            padding: .5em 1rem;
            margin-bottom: .1rem;
        }

        #fs-frm input:focus,
        #fs-frm select:focus,
        #fs-frm textarea:focus {
            background-color: white;
            outline-style: solid;
            outline-width: thin;
            outline-color: gray;
            outline-offset: -1px;
        }

        #fs-frm [type="text"],
        #fs-frm [type="email"] {
            width: 100%;
        }

        #fs-frm [type="button"],
        #fs-frm [type="submit"],
        #fs-frm [type="reset"] {
            width: auto;
            cursor: pointer;
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
        }

        #fs-frm [type="button"]:focus,
        #fs-frm [type="submit"]:focus,
        #fs-frm [type="reset"]:focus {
            outline: none;
        }

        #fs-frm [type="submit"],
        #fs-frm [type="reset"] {
            margin-bottom: 0;
        }

        #fs-frm select {
            text-transform: none;
        }

        #fs-frm [type="checkbox"] {
            -webkit-appearance: checkbox;
            -moz-appearance: checkbox;
            appearance: checkbox;
            display: inline-block;
            width: auto;
            margin: 0 .5em 0 0 !important;
        }

        #fs-frm [type="radio"] {
            -webkit-appearance: radio;
            -moz-appearance: radio;
            appearance: radio;
        }

        /* address, locale */
        #fs-frm fieldset.locale input[name="city"],
        #fs-frm fieldset.locale select[name="state"],
        #fs-frm fieldset.locale input[name="postal-code"] {
            display: inline;
        }

        #fs-frm fieldset.locale input[name="city"] {
            width: 52%;
        }

        #fs-frm fieldset.locale select[name="state"],
        #fs-frm fieldset.locale input[name="postal-code"] {
            width: 20%;
        }

        #fs-frm fieldset.locale input[name="city"],
        #fs-frm fieldset.locale select[name="state"] {
            margin-right: 3%;
        }

    </style>
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
    {% block css %}{% endblock %}
</head>

<body>
{% include 'navigation.jinja2' %}
{% block content %}

{% endblock %}
</body>

</html>